@font-face {
  font-family: FuturaPT;
  src: url(../fonts/futurabookc-webfont.ttf);
}
@font-face {
  font-family: FuturaDemic;
  src: url(../fonts/futurademic-webfont.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
body {
  margin: 0 0 0 0;
}

hr {
  width: 184px;
  height: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}

.header {
  width: 1295px;
  margin-top: 17px;
  overflow: hidden;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  margin-left: -642.5px;
  z-index: 3;
}
.header__icons {
  margin-right: 5px;
  float: left;
  display: flex;
  font-size: 0;
  height: 65px;
  width: 315px;
}
.header__icons-column {
  margin-top: 5px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  transition: 0.2s;
}
.header__icons-column:hover {
  transform: scale(1.05);
}
.header__button {
  margin-top: 9px;
  margin-right: 5px;
  float: right;
  width: 216px;
  height: 46px;
  background-color: rgba(28, 28, 28, 0);
  border-radius: 5px;
  border: 2px solid white;
  font-family: FuturaDemic;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.header__button:hover {
  transform: scale(1.05);
}

.baner {
  background-image: url(../images/bg.jpg);
  width: 1600px;
  height: 810px;
  margin: 0 auto;
}
.baner__shopguide {
  width: 517px;
  height: 235px;
  float: left;
  margin-top: 275px;
  margin-left: 268px;
  top: 275px;
  left: 268px;
}
.baner__shopguide-button {
  float: right;
  width: 244px;
  height: 40px;
  background-color: #29D3D1;
  border: 0;
  font-size: 16px;
  color: white;
  font-weight: 400;
  font-family: Montserrat;
  line-height: 19.5px;
  letter-spacing: -0.05em;
  cursor: pointer;
}
.baner__shopguide-triangle {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left: 7px solid #25B4B2;
  border-top: 7px solid #25B4B2;
  margin-top: 40px;
  margin-left: 273px;
}
.baner__shopguide-title {
  position: relative;
  margin: 0;
  padding: 0;
  top: -15px;
  width: 485px;
  height: 80px;
  color: white;
  font-size: 76px;
  font-family: Montserrat;
  font-weight: 400;
}
.baner__shopguide-separation {
  display: flex;
}
.baner__shopguide-separation-text {
  font-size: 16px;
  font-family: Montserrat;
  color: white;
  text-align: center;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
.baner__shopguide-icon {
  width: 224.39px;
  height: 63.59px;
  float: left;
  font-size: 0;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0;
  margin-right: 20px;
  transition: 0.2s;
}
.baner__shopguide-icon:hover {
  transform: scale(1.1);
}
.baner__phone {
  background-image: url(../images/_phone1.png);
  width: 380px;
  height: 588px;
  float: right;
  margin-right: 16%;
  margin-top: 222px;
}

.down {
  width: 277px;
  height: 51px;
  position: absolute;
  margin: 0 auto;
  z-index: 0;
  top: 785px;
  left: 0;
  right: 0;
  text-align: center;
  transition: 0.2s;
}
.down__button {
  width: 277px;
  height: 51px;
  border-radius: 15px;
  color: white;
  background: #29D3D1;
  border: 0;
  font-size: 14px;
  font-family: Montserrat;
  word-spacing: 20px;
  font-weight: 600;
  cursor: pointer;
}
.down__button-img {
  width: 27px;
  height: 12px;
}

.down:hover {
  transform: scale(1.1);
}

.row {
  width: 1290px;
  height: 219px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
}
.row__column {
  flex: 0 0 23%;
  padding: 0 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.row__column-icon {
  width: 84px;
  height: 75px;
}
.row__column-title {
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 15px;
}
.row__column-subtitle {
  font-size: 18px;
  font-family: FuturaDemic;
  font-weight: 600;
  text-align: center;
}

.phone {
  width: 1600px;
  height: 569px;
  margin: 0 auto;
  margin-top: 107px;
}
.phone__image {
  height: 565px;
  position: absolute;
  float: left;
  z-index: 1;
  margin-left: 227px;
}
.phone__body {
  background-color: #29D3D1;
  width: 1600px;
  height: 430px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.phone__body-title-left {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  float: left;
  color: white;
  position: relative;
  width: 219px;
  height: 54px;
  margin-left: 10px;
  margin-top: 60px;
  opacity: 40%;
  cursor: pointer;
  transition: 0.2s;
}
.phone__body-title-left:hover {
  opacity: 100%;
  height: 54px;
  border-bottom: 4px solid white;
}
.phone__body-title-right-activ {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  color: white;
  position: relative;
  float: left;
  margin-left: 366px;
  margin-top: 60px;
  height: 54px;
  border-bottom: 4px solid white;
  cursor: pointer;
}
.phone__body-title-right {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  color: white;
  position: relative;
  float: right;
  width: 208px;
  height: 54px;
  margin-top: 60px;
  margin-right: 9px;
  opacity: 40%;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}
.phone__body-title-right:hover {
  opacity: 100%;
  height: 54px;
  border-bottom: 4px solid white;
}
.phone__body-subtitle {
  font-family: FuturaPT;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  width: 693px;
  height: 134px;
  color: white;
  float: right;
  margin-right: 311px;
  margin-top: 30px;
}

.stocks {
  width: 1600px;
  height: 571px;
  margin: 0 auto;
  margin-top: 86px;
}
.stocks__phone-left {
  position: relative;
  top: 23px;
  float: right;
  margin-right: -84px;
  height: 500px;
  z-index: 3;
}
.stocks__phone-right {
  position: relative;
  float: right;
  z-index: 2;
  margin-right: 217px;
}
.stocks__body {
  width: 1600px;
  height: 406px;
  background: #EDECEC;
  position: relative;
  top: 165px;
  z-index: 1;
}
.stocks__body-title {
  position: relative;
  top: 68px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  margin-top: 68px;
  margin-left: 266px;
  width: 251px;
}
.stocks__body-subtitle {
  font-family: FuturaPT;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-top: 100px;
  margin-left: 266px;
}

.partners {
  width: 1600px;
  height: 466px;
  margin: 0 auto;
  margin-top: 68px;
}
.partners__title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: center;
  color: #EB645A;
  margin-bottom: 28px;
}
.partners__scroll-bar {
  width: 1600px;
  height: 189px;
  background-color: #EB645A;
}
.partners__scroll-bar-arrow-left {
  position: relative;
  margin-top: 75px;
  margin-left: 155px;
  width: 17px;
  height: 17px;
  padding: 16px;
  background-color: #eb7d75;
  border-radius: 100%;
  float: left;
  opacity: 20%;
  cursor: pointer;
  transition: 0.2s;
}
.partners__scroll-bar-arrow-left:hover {
  opacity: 100%;
}
.partners__scroll-bar-arrow-right {
  position: relative;
  top: -20px;
  right: 155px;
  width: 17px;
  height: 17px;
  padding: 16px;
  background-color: #eb7d75;
  border-radius: 100%;
  float: right;
  opacity: 20%;
  cursor: pointer;
  transition: 0.2s;
}
.partners__scroll-bar-arrow-right:hover {
  opacity: 100%;
}
.partners__scroll-bar-column {
  width: 1170px;
  height: 92px;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  z-index: 1;
}
.partners__scroll-bar-row {
  margin-top: 49px;
  margin-right: 50px;
  float: left;
  display: flex;
  transform: translateY(-50%);
  text-align: center;
  opacity: 20%;
  transition: 0.2s;
}
.partners__scroll-bar-row:hover {
  opacity: 100%;
}
.partners__subtitle {
  margin-top: 60px;
  font-family: FuturaPT;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.partners__button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 336px;
  height: 60px;
  border: 0;
  border-radius: 10px;
  background-color: #29D3D1;
  font-family: FuturaDemic;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.partners__button:hover {
  transform: scale(1.05);
}
.partners .last {
  margin-right: 0;
}

.footer {
  background-image: url(../images/bg.jpg);
  width: 1600px;
  height: 133px;
  margin: 0 auto;
  margin-top: 60px;
}
.footer__title {
  width: 146px;
  height: 20px;
  position: relative;
  float: left;
  top: 43px;
  left: 155px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: -0.05em;
  text-align: left;
  color: white;
}
.footer__politics {
  width: 260px;
  height: 16px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.85px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #B5B5B5;
  position: relative;
  float: left;
  left: 7px;
  top: 74px;
  text-decoration: none;
}
.footer__rules {
  width: 400px;
  height: 16px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.85px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #B5B5B5;
  position: relative;
  float: left;
  left: 40px;
  top: 74px;
}
.footer__button {
  width: 234px;
  height: 40px;
  background-color: rgba(28, 28, 28, 0);
  border: 2px solid white;
  border-radius: 5px;
  float: right;
  margin-right: 147px;
  margin-top: 47px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: -0.05em;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.footer__button:hover {
  transform: scale(1.05);
}
.footer__button-img {
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 19px;
}

@media screen and (width: 390px) {
  .header {
    display: none;
  }
  .baner {
    background-image: url(../images/bg.jpg);
    width: 1600px;
    height: 810px;
    margin: 0 auto;
  }
  .baner__shopguide {
    width: 390px;
    height: 314px;
    margin: 0 auto;
    margin-top: 191px;
  }
  .baner__shopguide-button {
    float: right;
    width: 238px;
    height: 40px;
    background-color: #29D3D1;
    border: 0;
    font-size: 16px;
    color: white;
    font-weight: 400;
    font-family: Montserrat;
    line-height: 19.5px;
    letter-spacing: -0.05em;
  }
  .baner__shopguide-triangle {
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left: 7px solid #25B4B2;
    border-top: 7px solid #25B4B2;
    margin-top: 40px;
    margin-left: 152px;
  }
  .baner__shopguide-title {
    position: relative;
    margin: 0;
    padding: 0;
    top: -10px;
    width: 390px;
    height: 65px;
    color: white;
    font-size: 55px;
    font-family: Montserrat;
    font-weight: 400;
    text-align: center;
  }
  .baner__shopguide-separation {
    display: flex;
  }
  .baner__shopguide-separation-text {
    font-size: 16px;
    font-family: Montserrat;
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }
  .baner__shopguide-icon {
    width: 224.39px;
    height: 63.59px;
    margin-left: 20%;
    margin-top: 20px;
    font-size: 0;
    border: 1px solid white;
    border-radius: 5px;
  }
  .baner__phone {
    display: none;
  }
  .row {
    width: 390px;
    height: 930px;
    margin: 0 auto;
    margin-top: 106px;
    display: block;
  }
  .row__column {
    margin: 0 auto;
    padding: 0;
    flex: none;
    width: 300px;
    height: 234px;
  }
  .row__column-icon {
    width: 84px;
    height: 75px;
  }
  .row__column-title {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .row__column-subtitle {
    font-size: 20px;
    font-family: FuturaDemic;
    font-weight: 600;
    text-align: center;
  }
  .phone {
    display: none;
  }
  .stocks {
    width: 390px;
    height: 321px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .stocks__phone-left {
    display: none;
  }
  .stocks__phone-right {
    display: none;
  }
  .stocks__body {
    background-color: white;
    top: 0;
    width: 390px;
    height: 321px;
    position: relative;
    z-index: 1;
  }
  .stocks__body-title {
    top: 0;
    margin: 0 auto;
    position: relative;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    width: 251px;
  }
  .stocks__body-subtitle {
    margin: 0 auto;
    margin-top: 30px;
    width: 350px;
    font-family: FuturaPT;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
  }
  .partners {
    width: 390px;
    height: 466px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .partners__title {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    text-align: center;
    color: #EB645A;
    margin-bottom: 28px;
  }
  .partners__scroll-bar {
    position: absolute;
    left: -150%;
    width: 1600px;
    height: 189px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EB645A;
  }
  .partners__scroll-bar-arrow-left {
    position: absolute;
    margin-top: 75px;
    margin-left: 580px;
    width: 17px;
    height: 17px;
    padding: 16px;
    background-color: #eb7d75;
    border-radius: 100%;
    float: left;
    opacity: 20%;
    cursor: pointer;
    transition: 0.2s;
    z-index: 4;
  }
  .partners__scroll-bar-arrow-left:hover {
    opacity: 100%;
  }
  .partners__scroll-bar-arrow-right {
    top: -15px;
    margin-right: 470px;
    width: 17px;
    height: 17px;
    padding: 16px;
    background-color: #eb7d75;
    border-radius: 100%;
    float: right;
    opacity: 20%;
    cursor: pointer;
    transition: 0.2s;
    z-index: 4;
  }
  .partners__scroll-bar-arrow-right:hover {
    opacity: 100%;
  }
  .partners__scroll-bar-column {
    width: 1170px;
    height: 92px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    z-index: 1;
  }
  .partners__scroll-bar-row {
    margin-top: 49px;
    margin-right: 50px;
    float: left;
    display: flex;
    transform: translateY(-50%);
    text-align: center;
    opacity: 20%;
    transition: 0.2s;
  }
  .partners__scroll-bar-row:hover {
    opacity: 100%;
  }
  .partners__subtitle {
    margin-top: 252px;
    font-family: FuturaPT;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
  .partners__button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 336px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    background-color: #29D3D1;
    font-family: FuturaDemic;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
  }
  .partners__button:hover {
    transform: scale(1.05);
  }
  .partners .last {
    margin-right: 0;
  }
  .footer {
    background: url(../images/bg.jpg);
    width: 390px;
    height: 263px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .footer__title {
    width: 146px;
    height: 20px;
    position: relative;
    float: left;
    top: 120px;
    left: 121px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    letter-spacing: -0.05em;
    text-align: left;
    color: white;
  }
  .footer__politics {
    width: 260px;
    height: 16px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.85px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #B5B5B5;
    position: relative;
    float: left;
    left: 70px;
    top: 150px;
    text-decoration: none;
  }
  .footer__rules {
    width: 400px;
    height: 16px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.85px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #B5B5B5;
    position: relative;
    float: left;
    left: 108px;
    top: 166px;
  }
  .footer__button {
    position: absolute;
    float: left;
    margin: 0 auto;
    top: 2892px;
    right: 78px;
    width: 234px;
    height: 40px;
    background-color: rgba(28, 28, 28, 0);
    border: 2px solid white;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    letter-spacing: -0.05em;
    color: white;
  }
  .footer__button-img {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 19px;
  }
}/*# sourceMappingURL=style.css.map */